@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  /* background-image: linear-gradient(to bottom right, black, gray); */
  /* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
  background: radial-gradient(
    circle at 10% 20%,
    rgb(87, 108, 117) 0%,
    rgb(37, 50, 55) 100.2%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1d1d1d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2c2c2c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #414141;
}

.leo_avatar {
  background-image: url(https://avatar.iran.liara.run/public/41);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 16px;
  cursor: pointer;
}

.nice_avatar {
  background-image: url(https://avatar.iran.liara.run/public/17);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 16px;
  cursor: pointer;
}

.text-gradient-main {
  background: -webkit-linear-gradient(
    45deg,
    rgba(64, 141, 242, 1) 0%,
    rgba(68, 68, 172, 1) 50%,
    rgba(5, 86, 102, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: default;
}

.text-gradient-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    rgba(64, 141, 242, 0.8) 0%,
    rgba(68, 68, 172, 0.8) 50%,
    rgba(5, 86, 102, 0.8) 100%
  );
  filter: blur(10px);
  opacity: 0;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.text-gradient-main:hover::before {
  opacity: 0.45;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
div {
  cursor: default;
}
